.card {
  padding: 0;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  /* overflow: scroll; */
  font-size: 20px;
  padding: 20px;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #E0E0E0;
  /* overflow: scroll; */
}

th {
  background:#A0A0A0;
  color: white;
  font-weight: bold;
  /* overflow: scroll; */
}

td,
th {
  padding: 16px;
  border: 1px solid #ccc;
  text-align: left;
  /* overflow: scroll; */
}

img {
  height: 100%;
  width: 100%;
}
